[Unit]
Description=Bouclier Bleu NGAV & EDR
Documentation=https://github.com/alexandreboutrik/bouclier-bleu
DefaultDependencies=no
After=local-fs.target
Before=basic.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bouclier-bleu-core
Restart=on-failure
RestartSec=5

# Directory Management
RuntimeDirectory=bouclier-bleu
RuntimeDirectoryMode=0700
ConfigurationDirectory=bouclier-bleu

# eBPF-specific resource limit
LimitMEMLOCK=infinity

# Sandboxing & Security
ProtectSystem=full
ProtectHome=read-only
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
ProtectProc=invisible
NoNewPrivileges=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes

[Install]
WantedBy=sysinit.target
